.tpc-whisper {
    background-color: #ddd6fe!important;
    font-style: italic!important;
}

.tpc-whisper .message-content {
    font-style: italic!important;
}

.tpc-emote {
    background-color: #fde68a!important;
}

.tpc-emote .message-content {
    font-style: italic!important;
}